.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: var(--backgroundColor);
  font-size: 2em;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-item {
  white-space: nowrap;
  transition: font-size 0.5s ease-in;
}

.menu-trail-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .menu {
    font-size: 3em;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .menu-list {
    grid-column: 2;
  }

  .menu-item:hover {
    font-size: 1.5em;
  }

}

@media screen and (min-width: 1024px) {
  .menu-item:hover {
    font-size: 2em;
  }
}
