.menu-container {
  position: absolute;
  background-color: var(--backgroundColor);
  width: 100%;
  top: 110px;
  left: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  height: 70vh;
}

.menu ul {
  list-style-type: none;
}

@media screen and (min-width: 425px) {
  .menu {
    font-size: 3em;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    top: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-container {
    top: 210px;
  }
}
