.project-card {
  /* display: flex; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 20px;
  width: 100%;
  border-bottom: 1px solid var(--primaryColor);
  padding-top: 20px;
  padding-bottom: 10px;
}
