.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 20px; */
  width: 100%;
  border-bottom: 1px solid var(--primaryColor);
  padding-top: 20px;
  padding-bottom: 10px;
}

.project-card-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.project-card-tecs {
  display: flex;
  gap: 10px;
}

.project-card-tag {
  border-radius: 9999px;
  background-color: var(--callToActionColor);
  padding: 10px;
  font-size: 0.8em;
  color: var(--contrastTextColor);
  white-space: nowrap;
}

.project-card-gh-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project-card-gh-icon:hover {
  color: var(--callToActionColor)
}

@media screen and (min-width: 768px) {
  .project-card {
    display: grid;
    grid-template-columns: 1fr 1fr 20px;
    width: 100%;
    border-bottom: 1px solid var(--primaryColor);
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
