.sub-contact {
  display: flex;
  flex-direction: column;
}

.socials {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 425px) {
  .sub-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
