:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --backgroundColor: #242424;
  --primaryColor: rgba(255, 255, 255);

  color-scheme: light dark;
  color: var(--primaryColor);
  background-color: var(--backgroundColor);

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 0 10px 0 10px;
}

body.light {
  --backgroundColor: rgba(255, 255, 255);
  --primaryColor: #242424;
}

a {
  font-weight: 500;
  color: var(--primaryColor);
  text-decoration: inherit;
}

a:hover {
  color: var(--primaryColor);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (min-width: 425px) {
  body {
    padding: 0 20px 0 20px;
  }
  h1 {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 50px 0 50px;
  }
  h1 {
    font-size: 3.2em;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0 100px 0 100px;
  }
}
